services:

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  assinador-xml-api:
    build: .
    depends_on:
      - rabbitmq
    ports:
      - "8080:8080"